<!DOCTYPE html>
<html>
  <head>
    <title>Ruby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  </head>

  <body>
    <section class="NavH_Super_Admin_Dashboard_Home">
      <header>
        <div class="container">
          <div class="divv">
            <nav class="menuv" style="--items: 5;">
              <ul>
                <li><%= image_tag("logo.png", {:alt => "rss feed" , :class => "logo", style:"margin-top: 5px;"}) %></li>
                <li><a href=""><%= image_tag("round_home_white.png", {:alt => "rss feed" , :class => "image", style:"margin-top: 40px;"}) %></a></li>
                <li><a href=""><%= image_tag("round_groups_white.png", {:alt => "rss feed" , :class => "image"}) %></a></li>
                <li><a href=""><%= image_tag("round_format_list_bulleted_white.png", {:alt => "rss feed" , :class => "image"}) %></a></li>
                <li><a href=""><%= image_tag("round_settings_white.png", {:alt => "rss feed" , :class => "image"}) %></a></li>
                <li><%=link_to (image_tag("round_home_white.png", {:alt => "rss feed" , :class => "image", style:"margin-top: 40px;"})), :controller => :administrator, :action => :gpo_revenue %></li>
              </ul>
            </nav>
          </div>
          <div class="divh">
            <nav class="links" style="--items: 6;">
              <%= link_to "GPO Revenue",:controller => :administrator, :action => :gpo_revenue %>
              <%= link_to "GPO Spend",:controller => :administrator, :action => :gpo_spend %>
              <%= link_to "Members`s Spend",:controller => :administrator, :action => :members_spend %>
              <%= link_to "Members`s Source GCR",:controller => :administrator, :action => :members_source_gcr %>
              <a></a>
              <a></a>
              <span class="line"></span>
            </nav>
          </div>
          <div class="main" style="width: 70%">
            <%= yield %>
          </div>
        </div>
      </header>
    </section>
  </body>
</html>